h1 {
  color: midnightblue;
  font-size: 400%;
  text-align: center;
}

h2{
  color: powderBlue;
  text-align: center;
}

p {
  font-family: "Times New Roman";
  text-indent: 50px;
  margin-left: 10px;
  color: PaleGreen;
}

#content {
  background-color: skyblue;
  width: 1200px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
}

input {
  caret-color: cornflowerBlue;
}
