h1 {
  color:DarkMagenta;
  font-size: 300%;
  text-align: center;
}

div {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

h2{
  color: darkRed;
  text-align: center;
}

p {
  font-family: fantasy;
  text-indent: 50px;
  margin-left: 10px;
  color: DarkViolet;
}

#content {
  background-color: SlateGrey;
  width: 1500px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
}
