h1 {
  color:DarkMagenta;
  font-size: 300%;
  text-align: center;
}

h2{
  color: darkRed;
  text-align: center;
}

p {
  font-family: fantasy;
  text-indent: 50px;
  margin-left: 10px;
  color: DarkViolet;
}

#content {
  background-color: SlateGrey;
  width: 1500px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
}

input {
  caret-color: red;
}
