h1 {
  color: cornflowerBlue;
  font-size: 350%;
  text-align: center;
}

h2{
  color: Tomato;
  text-align: center;
}

p {
  font-family: "Times New Roman";
  text-indent: 50px;
  margin-left: 10px;
  color: tan;
}

#content {
  background-color: black;
  width: 1000px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
}

input {
  caret-color: cornflowerBlue;
}

#example {
  caption-side: top;
}

#example2 {
  caption-side: top;
}
