h1 {
  color: lightblue;
  font-size: 300%;
  text-align: center;
}

h2{
  color: darkgreen;
  text-align: center;
}

p {
  font-family: fantasy;
  text-indent: 50px;
  margin-left: 10px;
  color: red;
}

#content {
  background-color: pink;
  width: 1500px;
  padding: 15px;
  margin: 25px;
  font-size: 34px;
}
