h1 {
  color: cornflowerBlue;
  font-size: 350%;
  text-align: center;
}

h2{
  color: FireBrick;
  text-align: center;
}

p {
  font-family: fantasy;
  text-indent: 50px;
  margin-left: 10px;
  color: OrangeRed;
}

#content {
  background-color: IndianRed;
  width: 2000px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
}

input {
  caret-color: blue;
}

#example {
  caption-side: top;
}

#example2 {
  caption-side: top;
}
